.header-c{
  padding: 20px;
  text-align: center;
  background-color: rgb(23, 23, 95);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-c a{
  color: white;
}
.pcontainer{
  width:  350px;
  border: 2px solid black;
  margin: 20px;

}
.pcontainer:hover{
  box-shadow: 0px 0px  10px black;
}
.pcontainer img{
  width: 100%;

}
.pcontainer h2 {
color: rgb(23, 23, 95);
text-align: center;
}
.product-c{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}